* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252C;
  min-height: 100vh;
}

.card {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     height: 100vh;
}

img {
     width: 317px;
     height: 317px;
     object-fit: cover;
     border-radius: 10px 10px 0 0;
}

.about-section, .header{
     width: 317px;
     background-color: #1A1B21;
     margin: 0;
}
